<nav>
    <ul>
      <li><a href="#0">Home</a></li>
      <li>
        <a href="#0">Games</a>
        <ul class="nav_layout">
          <li *ngFor="let version of version"><a href="#0">{{version.name}}</a></li>
        </ul>
      </li>
      <li>
        <a href="#0">Generations</a>
        <ul>
          <li *ngFor="let item of generation"><a href="#0">{{item.name}}</a></li>
        </ul>
      </li>
      <li><a href="#0">Locations</a></li>
      <li><a href="#0">Items</a></li>
    </ul>
  </nav>
  